*{
    box-sizing: border-box;
    font-family: 'cursiva', sans-serif;
}

body {
    background-color: #dfdfdf;

}



.calculator {
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 10px;
    background-color: #144561;
}

table td {
    display: inline-block;
    margin-left: 1px;
}

.botao {
    margin: 3px;
    width: 50px;
    height: 40px;
    cursor: pointer;
    border: none;
    background-color: #fb573f;
    color: #FFFFFF;
    font-size: 16px;
    transition: all 500ms ease-in-out;
    border-radius: 4px;
}

.botao:hover {
    background-color: #7A2B1F;
}

.ac {
    background-color: #00face;
}

.ac:hover {
    background-color: #228f84;
}

.especial {
    background-color: #00face;
}

.especial:hover {
    background-color: #228f84;
}

.igual {
    background-color: #00face;
}

.igual:hover {
    background-color: #228f84;
}

.result {
    height: 100px;
    color: #dfdfdf;
    text-align: right;
    font-size: 30px;
    word-wrap: break-word;
    border-bottom: 2px solid #0f3347;
    background-color: #174E6E;
    border-radius: 5px;
}